<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="CONSOLE">
      <PatternLayout
        pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C.%M(%F:%L)}{bright,yellow}: %msg%n%throwable"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.slackbuds.ecsdemo" level="DEBUG" additivity="false">
      <AppenderRef ref="CONSOLE"/>
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>
